h3 span{
	float:right;
}

.gif-btn{
	margin: 6px 2px 6px 2px;
}

#audio_on {
	display: inline;
}
#audio_mute {
	display: none;
}
.item {
	display: inline-block;
	padding: 1% 1% 1% 1%;
}

.images-holder{
	text-align: center;
}